/* Cambiar el color de fondo de la página */
body {
    background-color: #e4f6a0;
}

/* Fuente de todo el texto es Tahoma */
body {
    font-family: Tahoma, Arial, sans-serif;
}

/* Todos los párrafos a tamaño de texto 16 */
p {
    font-size: 16px;
}

/* Eliminar el subrayado a los vínculos */
a {
    text-decoration: none;
}

/* Cambiar el texto de los títulos de las recetas a Italic */
h2 {
    font-style: italic;
}

/* Cambiar los elementos de la lista de ingredientes a Bold */
ul {
    font-weight: bold;
}

/* Agregar un recuadro a las imágenes */
img {
    border: 2px solid #000000;
    padding: 5px;
    max-width: 100%;
    height: auto;
}

/* Alinear el contenido del centro */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* .recipe-container{
    display : none;
} */

* {
    font-size: 1rem!important;
}
p {
    font-size: 16px;
}
a:link{
    text-decoration-line: none;
}
ol li:hover, ol li a:hover {
    color: red;
}
.title{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background: green;
    opacity: 75%;
    font-size: 2rem!important;
}
.sub-title{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background: red;
    opacity: 75%;
    font-size: 1.3rem!important;
    /* margin: 5rem; */
}
.items {
    font-weight: bold;
}
img{
    border: 5px solid black;
    border-radius: 5px;
}
.div-img {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 100%;
}
img {
    max-height: 300px;
}

#principal-title {
    background-image: url("https://s1.ppllstatics.com/diariovasco/www/multimedia/201908/20/media/cortadas/comida-gastronomia-platos-italia-kUrE-RXT3H6k8R30qeWZiL4ovvCM-1248x770@Diario%20Vasco.jpg");
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen en el contenedor */
    width: 100%;
}
#secondary-title>h2 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: black;
    opacity: 75%;
    font-size: 1.5rem!important;
}
.receta {
    margin: 2rem;
}

.active {
    background-color: #f44336 !important; /* Cambia el color de fondo activo como desees */
    color: white !important; /* Cambia el color de texto activo como desees */
}

.hidden {
    display: none;
}